# IDE Settings (Android Studio / IntelliJ)
.idea/
*.iml

# Gradle & Build Outputs
.gradle/
build/
/*/build/

# Local Environment & Secrets (Never commit these)
local.properties
.externalNativeBuild/
.cxx/

# Performance & Captures
captures/

# OS specific files
.DS_Store